BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpaceAfterLogicalNot: false
SpaceInEmptyParentheses: false
MaxEmptyLinesToKeep: 1
SortIncludes: false
IncludeBlocks: Regroup
PenaltyBreakAssignment: 2
PenaltyBreakFirstLessLess: 120
PenaltyBreakComment: 300
PenaltyBreakString: 1000
